sesion5/WebApi/obj/Debug/net6.0/refint/WebApi.dll
sesion5/WebApi/obj/Debug/net6.0/ref/WebApi.dll
sesion5/WebApi/obj/Debug/net6.0/WebApi.pdb
sesion5/WebApi/obj/Debug/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
sesion5/WebApi/obj/Debug/net6.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
sesion5/WebApi/obj/Debug/net6.0/WebApi.GlobalUsings.g.cs
sesion5/WebApi/obj/Debug/net6.0/WebApi.genruntimeconfig.cache
sesion5/WebApi/obj/Debug/net6.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
sesion5/WebApi/obj/Debug/net6.0/WebApi.dll
sesion5/WebApi/obj/Debug/net6.0/WebApi.csproj.FileListAbsolute.txt
sesion5/WebApi/obj/Debug/net6.0/WebApi.csproj.CoreCompileInputs.cache
sesion5/WebApi/obj/Debug/net6.0/WebApi.csproj.CopyComplete
sesion5/WebApi/obj/Debug/net6.0/WebApi.csproj.AssemblyReference.cache
sesion5/WebApi/obj/Debug/net6.0/WebApi.assets.cache
sesion5/WebApi/obj/Debug/net6.0/WebApi.AssemblyInfoInputs.cache
sesion5/WebApi/obj/Debug/net6.0/WebApi.AssemblyInfo.cs
sesion5/WebApi/obj/Debug/net6.0/staticwebassets.build.json
sesion5/WebApi/obj/Debug/net6.0/project.razor.json
sesion5/WebApi/obj/Debug/net6.0/apphost.exe
sesion5/WebApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
sesion5/WebApi/obj/WebApi.csproj.nuget.g.targets
sesion5/WebApi/obj/WebApi.csproj.nuget.g.props
sesion5/WebApi/obj/WebApi.csproj.nuget.dgspec.json
sesion5/WebApi/obj/staticwebassets.pack.sentinel
sesion5/WebApi/obj/project.nuget.cache
sesion5/WebApi/obj/project.assets.json
sesion5/WebApi/bin/Debug/net6.0/WebApi.pdb
sesion5/WebApi/bin/Debug/net6.0/WebApi.exe
sesion5/WebApi/bin/Debug/net6.0/WebApi.dll
sesion5/WebApi/bin/Debug/net6.0/WebApi.deps.json
sesion5/WebApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
sesion5/WebApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
sesion5/WebApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
sesion5/WebApi/bin/Debug/net6.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
sesion5/WebApi/bin/Debug/net6.0/Npgsql.dll
sesion5/WebApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
sesion5/WebApi/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
sesion5/WebApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
sesion5/WebApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
sesion5/WebApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
sesion5/WebApi/bin/Debug/net6.0/appsettings.json
sesion5/WebApi/bin/Debug/net6.0/appsettings.Development.json
sesion5/WebApi/bin/Debug/net6.0/WebApi.runtimeconfig.json
